//@import './_constants';
@use 'constants';

body {
  background-color: constants.$base-black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #efefefef;
  height: 50vh;
  width: 50vh;
  margin: 5vh;
}

h1 {
  color: constants.$base-white;
}
